<ng-content></ng-content>
<!-- <mat-toolbar>
  <button *ngIf="belowThreshold$ | async" class="sm-toggle" mat-icon-button (click)="navBar.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <ng-content *ngIf="aboveThreshold$ | async" select="[toolbar-lg-left]"></ng-content>
  <ng-content *ngIf="belowThreshold$ | async" select="[toolbar-sm-left]"></ng-content>
  <ng-content select="[toolbar-left]"></ng-content>

  <div class="lg-center">
    <ng-content *ngIf="aboveThreshold$ | async" select="[toolbar-lg-center]"></ng-content>
    <ng-content *ngIf="belowThreshold$ | async" select="[toolbar-sm-center]"></ng-content>
    <ng-content select="[toolbar-center]"></ng-content>
  </div>
  <ng-content *ngIf="aboveThreshold$ | async" select="[toolbar-lg-right]"></ng-content>
  <ng-content *ngIf="belowThreshold$ | async" select="[toolbar-sm-right]"></ng-content>
  <ng-content select="[toolbar-right]"></ng-content>
</mat-toolbar>
<mat-divider></mat-divider> -->
